%h1= t('stall.checkout.payment_return.title')

%p.help-block= t('stall.checkout.payment_return.help').html_safe

= link_to root_path, class: 'btn btn-primary' do
  = t('stall.checkout.payment_return.back_to_shop')
