%h1= t('stall.checkout.authentication.title')

= simple_form_for cart, as: :cart, url: step_path(cart) do |form|

  %button.btn.btn-primary{ type: 'submit' }
    = t('stall.checkout.authentication.validate')

