.variant-select-input{ data: { :'variant-select-input' => true, :'variant-select-data' => variants_data.to_json, :'price-target' => price_selector } }
  = form.hidden_field foreign_key, data: { :'variant-select-foreign-key' => true }

  - properties.each do |property_config|
    - if property_config.available_options.length == 1
      .variant-select-property.hidden{ data: { :'variant-select-property' => property_config.property.id, :'preselected' => true } }
        = hidden_field :property_config, property_config.property.id, value: property_config.available_options.first.last, data: { :'preselected-value' => true }
    - else
      .variant-select-property{ data: { :'variant-select-property' => property_config.property.id } }
        .row
          .col-md-3
            = label :property_config, property_config.property.id, property_config.property.name, class: 'variant-select-label'
          .col-md-9
            = select :property_config, property_config.property.id, options_for_select(property_config.available_options), { include_blank: true }, placeholder: t('para.stall.variant_select.property_placeholder'), class: 'variant-select-property-input', autocomplete: 'off', data: { selectize: true }
