.filter{ data: { :'filter' => 'price', :'filter-submission' => 'slide' } }
  = form.input filter.param, as: :slider, label: filter.label, required: false, min: filter.min, max: filter.max, values: [filter.min, filter.max], range: true
