%h1= @curated_product_list.name

.row
  .col-md-4
    = render partial: 'stall/products/filters', locals: { search: @search, products: @filterable_products }

  .col-md-8
    = render partial: 'stall/products/list', locals: { products: @products }
