<!DOCTYPE html>
<html>
<head>
  <title>Stall</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "stall/application", media: "all" %>
  <%= javascript_include_tag "stall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
